*.HEX
*.hex
*.LST
*.lst
*.map
*.mem
*.sym

*.rel
*.rst
*.ihx
*.lk

**/pld/*.abs
**/pld/*.doc
**/pld/*.pdf
**/pld/*.lst
**/pld/*.sim
**/pld/*.so
**/pld/*.wo
**/pld/*.jed

**/schematic/*.bak
**/schematic/*.bck
**/schematic/*.dcm
**/schematic/*.kicad_pcb

.#*
